header{
    background: #BBBBBB;
    padding: 20px;
}

.caixa {
    position: relative; /*posicionando o menu mas acima*/
    width: 940px; /*ajustando o tamanho caixa de menu*/
    margin: 0 auto ; /*parametro para centralizar a caixa*/
}

nav{
    position: absolute; /*Posiciono o elemento em qualquer lugar da página*/
    top: 110px; /*Posicionando no top com 0 espaço*/
    right: 0; /*Posicionando a direita igual a zero.*/
}

nav li{
    display: inline;     /* deixando a estrutura na linha horizontal*/
    margin: 0 0 0 15px;  
    /*espaçamento entra as letras, usado um paramentro para espaçamento a esquerda*/
}

nav a{
    text-transform: uppercase; 
    /*Para que visualvemente as letras apareçam em maiuscula, sem que a mesma seja 
    alterada no Html, somente alterar de forma visual via CSS, usar a propriedade acima */

    color: #000000; /*mudando a cor das letras*/
    font-weight: bold; 
    /*mudando o peso da fonte, para negrito, lembrando que nada alterado no HTML, somente
    em estilagem no CSS*/

    font-size: 22px;
    text-decoration: none; /*usada para retirar a sublinhamento do texto*/
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0; /*espaçamento*/
}


.produtos li{
    display: inline-block;
    text-align: center; /*centralizando*/
    width: 30%; /*distribuição da imagens produtos*/
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;  
    /*espaçamento lateral, esteja dentro do percentual, usar a propriedade chamada*/
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao{
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
    margin-top: 10px;
}