header{
    background: #BBBBBB;
    padding: 20px;
}

.caixa {
    position: relative; /*posicionando o menu mas acima*/
    width: 940px; /*ajustando o tamanho caixa de menu*/
    margin: 0 auto ; /*parametro para centralizar a caixa*/
}

nav{
    position: absolute; /*Posiciono o elemento em qualquer lugar da página*/
    top: 110px; /*Posicionando no top com 0 espaço*/
    right: 0; /*Posicionando a direita igual a zero.*/
}

nav li{
    display: inline;     /* deixando a estrutura na linha horizontal*/
    margin: 0 0 0 15px;  
    /*espaçamento entra as letras, usado um paramentro para espaçamento a esquerda*/
}

nav a:hover{ /*Tag (:houver) concede a estilange ao elemento, assim quando passar o mouse se o elemento(Item), o CSS aplica uma cor*/ 
    color: #c78c19; 
    text-decoration: underline; 
    /*sublinhando o elemento*/
}

nav a{
    text-transform: uppercase; 
    /*Para que visualvemente as letras apareçam em maiuscula, sem que a mesma seja 
    alterada no Html, somente alterar de forma visual via CSS, usar a propriedade acima */

    color: #000000; /*mudando a cor das letras*/
    font-weight: bold; 
    /*mudando o peso da fonte, para negrito, lembrando que nada alterado no HTML, somente
    em estilagem no CSS*/

    font-size: 22px;
    text-decoration: none; /*usada para retirar a sublinhamento do texto*/
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0; /*espaçamento*/
}


.produtos li{
    display: inline-block;
    text-align: center; /*centralizando*/
    width: 30%; /*distribuição da imagens produtos*/
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;  
    /*espaçamento lateral, esteja dentro do percentual, usar a propriedade chamada*/
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover{
    border-color: #c78c19 ; /*mexendo na cor da borda*/

}

.produtos li:active{
    border-color: #088c19;
} 

/* --.produtos li:active
Tem a ação de aplicar uma cor quando com o mouse for aplicado, clicado sobre o emeneto
sendo assim, quando clicar sobre o Item, a cor muda.*/

.produtos li:hover  h2{
    font-size: 34px;
}


/*--.produtos li:hover  h2
Quando o mouse passar (houver) sobre os produtos (li)listas de produtos, irá mudar aplicar
a letra de 40x.
*/

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao{
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: #CCCCCC;
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

main {
    width: 940px; /*Mantive o padrão da altura no qual eu já venho deixando e margem também*/
    margin: 0 auto;
}

form {
    margin: 40px 0; /*aumentando a margim do conteúdo*/
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px; /*Espaço entre a (label) estiqueta e o campo que vem logo abaixo dela*/
    /*Todos os label(etiqueta dentro do meu formulário seja block, seja (quebrado
    para a linha de baixa)*/
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px; /*espaçamento, aumentando o campo do input para digitar*/
    width: 50%; /*Altera a largura o tamanho do campo aonde se escreve no formulário*/
    /*Todos os input(dentro do meu formulário seja block, seja (quebrado
    para a linha de baixa)*/
}

.checkbox {
    margin: 20px 0 ; /*espaçando a margin do checkbox do submit*/
}

.enviar {
    width: 40%; /*Largura*/
    padding: 15px 0; /*Espaçamento*/
    background: orange; 
    color: white;
    font-weight: bold; /*Fonte em Negrito*/
    font-size: 18px;
    border: none; /*Removendo a bordar*/
    border-radius: 5px; /*canto da bordar arredondado em 5px*/
    transition: 1s all; /*quando passo mouse, a cor muda em 1s(esta propriedade faz com controlamos o tempo para esta alteração)*/
    cursor: pointer; /*Permite que quando passo o mouse, a seta vira uma mãozinha para mostra que é clicavél*/
}

.enviar:hover{
    background: darkorange; /*Quando passa o mouse por cima, muda a cor */
    transform: scale(1.2); /* Esta propriedade, faz com que quando eu passo o mouse por cima do botão enviar,
    aumenta a letra (enviar)*/
}

table {
    margin: 20px 0 40px;
}

thead { /*Tag de cabeçalho da minha tabela*/
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th { /*Tag da célula dentro do cabeçalho*/
    border: 1px solid #000000;
    padding: 8px 15px;
}